#dice-cutout {
  vertical-align: middle;
  z-index: -1
}

#roll-result {
  position: absolute;
  font-size: 6em;
  font-family: 'Stalemate', 'cursive';
  margin-left: 115px;
  margin-top: -370px;
  z-index: 1;
}

#this-app-is-brought-to-you-by-the-letter-d {
  font-family: fantasy;
  font-size: 4em;
  margin-top: 40px
}

.dice-roll-form {
  margin-top: 200px;
  margin-left: 5vw
}
