#welcome-screen {
  background: url('../../images/tree_of_life_by_jjcanvas_dc6zv1z-pre.jpg') no-repeat center center fixed;
  /* adjusts size to CSS3 specs for each major browser */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
}

.welcome-msg {
  color: #009900;
  font-family: garamond;
}
#welcome-screen a:link, #welcome-screen a:visited {
  color: #009900;
  font-size: 5em;
}
