#signup-page {
  background: url('../../images/AdobeStock_171755289.jpeg') no-repeat center center fixed;
  /* adjusts size to CSS3 specs for each major browser */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
  font-family: fantasy;
  color: white;
}

#signup-container {
  justify-content: center;
}

#signup-header {
  font-family: fantasy;
  color: white;
  margin-bottom: 50px;
  font-size: 3em;
  margin-top: -40vw;
}

#signup-page label{
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#login-user-option {
  text-align: center;
}
