#login-page {
  background: url('../../images/AdobeStock_286891230.jpeg') no-repeat center center fixed;
  /* adjusts size to CSS3 specs for each major browser */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
  font-family: fantasy;
}

#login-page label{
  color: white;
  font-size: 1.5em;
}

#page-header {
    color: white;
    font-size: 3em;
    font-family: fantasy;
    margin-bottom: 50px;
    margin-top: -40vw;
}

#profile-pic {
  margin-left: 20px;
}

#create-user-option {
  opacity: 0.80;
}
