body {
    /* Prevents "overscroll" revealing blank edges of the page on iOS and MacOS */
    overscroll-behavior-y: none;
}

#grid {
  height: 100vw;
  width: 100vw;
  margin: 0 0 0 0;
}

#navbar-row {
  height: 20vw;
  margin-top: 0;
  padding-top: 0;
}

#user-pages-row {
  padding: 10vw 0 0 0;
}
